
.container {

    @extend %container;
}

.header-top {

    background-color: $azure-radiance;
    color: $white;
    text-transform: uppercase;
    font-size: $small-font;
    font-weight: 700;
    padding: 5px 0;

    ul {

        @include flex(row, flex-end, center);
        list-style-type: none;

        &>li {

            margin: 0 10px;
        }
    }
}

nav {

    @include flex(row, null, center);
    height: 100px;

    .nav-bar {

        @include flex(row, space-between, center);
        list-style-type: none;

        #logo {

            width: 80px;
            height: auto;
        }

        .nav-links {

            @include flex(row, center, center);
            list-style-type: none;
            text-transform: uppercase;
            font-size: $medium-font;
            font-weight: 700;

            & > li {

                margin: 0 20px;
            }

            a {

                text-decoration: none;
                color: $charcoal;

                &:hover {

                    color: $azure-radiance;
                }
            }
        }
    }

}

.jumbotron {

    height: 400px;
    width: 100%;

    img {

        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: right top;
    }
}
